# путь к директории для сохранения файлов
MEDIA_PATH=/media

# путь к директории для логирования
LOGGING_PATH=/logs
# формат для записей логов
LOGGING_FORMAT="%(name)s %(asctime)s %(levelname)s %(message)s"
# уровень логирования
LOGGING_LEVEL=DEBUG

# ключи для доступа к API
# https://apilayer.com/marketplace/geo-api
API_KEY_APILAYER=8IKvVCD9VgnmpgF9sI4e7mhxJI5c8UV7
# https://openweathermap.org/price#weather
API_KEY_OPENWEATHER=dec201a4506f730a1b9f562094a33d62
# https://newsapi.org
API_KEY_NEWSPORTAL=76920c5310c44f91be8ee195dd897f6d

# время актуальности данных о странах (в секундах)
CACHE_TTL_COUNTRY=31_536_000
# время актуальности данных о курсах валют (в секундах)
CACHE_TTL_CURRENCY_RATES=86_400
# время актуальности данных о погоде (в секундах)
CACHE_TTL_WEATHER=10_700
